
$font-stack:                "Noto Serif", Helvetica, Arial, sans-serif;
$bg-color:                  #fff;
$text-color:                #222;
$accent-color:              #353445;
$border-color:              #eee;
$x-small-screen:            480px;
$x-medium-screen:           768px;

a {

    img {
        border: 0;
    }
}

/* Default layout */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $font-stack;
    font-size: 20px;
    font-weight: normal;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    background-color: $bg-color;
    color: $text-color;
}

a {
    border-bottom: 3px solid $border-color;
    color: $text-color;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease 0s;

    &:hover {
        border-color: $accent-color;
        text-decoration: none;
        color: $text-color;
    }
}

a.btn {
    display: inline-block;
    padding: 8px 16px;
    border: 3px solid $border-color;
    border-radius: 32px;
    color: $accent-color;

    @media only screen and (max-width: $x-small-screen) {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }
}

hr {
    margin: 60px auto;
    max-width: 200px;
    border: 3px solid lighten($text-color, 80%);

    @media only screen and (max-width: $x-small-screen) {
        margin: 30px auto;
    }
}

#blogs {

    > header {
        padding: 30px;
        text-align: center;
        background-color: $accent-color;
        color: #fff;

        img {
            display: block;
            margin: 0 auto 10px auto;
        }

        h1 {
            font-size: 36px;
        }

        p {
            margin: 15px 0;
        }

        a {
            padding: 0 5px;
            border: 0;
            font-size: 40px;
            color: rgba(255, 255, 255, 0.3);

            &:hover {
                color: #fff;
            }
        }
    }

    > ul {
        margin: 60px auto;
        padding: 0;
        max-width: 800px;
        list-style: none;

        @media only screen and (max-width: $x-small-screen) {
            padding: 0 15px;
        }

        li {
            text-align: center;

            a.title {
                display: block;
                font-size: 36px;
                border-bottom: 0;
                color: $accent-color;

                @media only screen and (max-width: $x-small-screen) {
                    font-size: 20px;
                }

                &hover {
                    color: $accent-color;
                }
            }

            time {
                color: lighten($text-color, 40%);

                @media only screen and (max-width: $x-small-screen) {
                    font-size: 15px;
                }
            }

            p {
                margin: 30px 0;
                line-height: 32px;

                @media only screen and (max-width: $x-small-screen) {
                    line-height: 28px;
                    font-size: 15px;
                }
            }
        }
    }

    #pagination {
        overflow: hidden;
        margin: 120px auto 120px auto;
        padding: 0 20px;
        max-width: 800px;

        @media only screen and (max-width: $x-small-screen) {
            margin: 40px auto 0 auto;
        }

        > a {
            display: block;
            padding: 18px;
            width: 48%;
            font-size: 22px;
            background-color: lighten($text-color, 80%);
            border: 0;
            border-radius: 3px;
            text-align: center;
            color: $text-color;

            &:hover {
                background-color: lighten($text-color, 70%);
            }

            @media only screen and (max-width: $x-small-screen) {
                padding: 8px 16px;
                font-size: 16px;
            }
        }

        div {
            margin: 0 50% 0 50%;
            line-height: 50px;

            @media only screen and (max-width: $x-small-screen) {
                line-height: 42px;
            }
        }

        .hide {
            display: none;
        }
    }
}

#article {

    > nav {
        padding: 30px;
        font-size: 36px;
        background-color: $accent-color;

        @media only screen and (max-width: $x-small-screen) {
            font-size: 20px;
        }

        > div {
            margin: 0 auto;
            max-width: 800px;

            a {
                color: #fff;
                border: 0;
            }
        }
    }

    ol {
        list-style: inside;
    }

    section {
        margin: 60px auto;
        max-width: 800px;
        line-height: 32px;
        color: $text-color;
        font-size: 20px;

        @media only screen and (max-width: $x-small-screen) {
            margin: 30px auto;
            padding: 0 15px;
            font-size: 15px;
        }

        header {
            margin: 0 0 60px 0;

            @media only screen and (max-width: $x-small-screen) {
                margin-bottom: 30px;
            }

            h1 {
                margin: 0;
                line-height: 1;
                font-size: 46px;

                @media only screen and (max-width: $x-small-screen) {
                    word-break: break-all;
                    font-size: 20px;
                    line-height: 1.2;
                }
            }

            time {
                color: lighten($text-color, 60%);
            }
        }

        h2 {
            margin: 45px 0 15px 0;
            font-size: 24px;

            @media only screen and (max-width: $x-small-screen) {
                font-size: 18px;
                line-height: 1.1;
            }
        }

        h3 {
            margin: 45px 0 15px 0;
            font-size: 22px;
            color: lighten($text-color, 30%);

            @media only screen and (max-width: $x-small-screen) {
                font-size: 18px;
                line-height: 1.1;
            }
        }

        p {
            margin: 25px 0;

            @media only screen and (max-width: $x-small-screen) {
                line-height: 28px;
                font-size: 15px;
            }
        }

        img {
            margin: 30px 0 30px -20px;
            max-width: 100%;
            border: 20px solid lighten($text-color, 80%);

            @media only screen and (max-width: $x-small-screen) {
                margin: 15px 0;
                max-width: 270px;
                border: 10px solid lighten($text-color, 80%);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: inside;
        }

        blockquote {
            margin-left: -18px;
            padding: 5px 0 5px 15px;
            border-left: 3px solid lighten($text-color, 70%);
            font-style: italic;
            color: lighten($text-color, 40%);

            p {
                margin: 0;
            }
        }

        footer {
            margin: 60px 0 120px 0;
            text-align: left !important;

            @media only screen and (max-width: $x-small-screen) {
                margin: 30px 0 60px 0;
            }

            a {
                display: inline-block;
                margin-right: 5px;
                text-decoration: none;
                color: lighten($text-color, 70%);
                border: 0;
                font-size: 42px;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    section.next {
        text-align: center;

        h2 {
            margin-top: 0;
        }

        a.title {
            display: block;
            font-size: 36px;
            border-bottom: 0;

            @media only screen and (max-width: $x-small-screen) {
                font-size: 20px;
            }
        }
        a.title:hover {
            color: $accent-color;
        }

        time {
            color: lighten($text-color, 60%);
        }

        p {
            margin: 30px 0;
            color: lighten($text-color, 40%);
        }
    }

    #disqus_thread {
        margin-top: 30px
    }
}

iframe {
    height: 500px;

    @media only screen and (max-width: $x-small-screen) {
        height: 200px!important;
    }
}

#blogs, #article {

    > footer {
        margin: 60px auto;
        max-width: 800px;
        text-align: center;

        @media only screen and (max-width: $x-small-screen) {
            padding: 0 15px;
            font-size: 15px;
        }

        > a {
            padding: 0 5px;
            font-size: 40px;
            color: lighten($text-color, 70%);
            border: 0;

            &:hover {
                color: $accent-color;
            }
        }
    }
}
